@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --text-color: rgb(70, 60, 75);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 10px;
    color: var(--text-color);
}


body {
    width: 100vw;
    font-size: 1.6rem;
    background-color: #f0f0f0;
}

#root {
    width: 100vw;
}



#sign-up,
#signin-page {
    background-color: #ffc23ee3;
}

#create-profile,
#forgot-password,
#modal-sucessful {
    background-color: #ffc23ee3;
}



.form-page,
#forgot-password {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url(img/logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.form-container {
    padding: 2rem 0rem 0rem;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.911);
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h1-login {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    margin-bottom: 1.6rem;
}

.fieldset {
    border: none;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.form-fp {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-cp {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-input {
    border-radius: 5px;
    border: 1px solid rgba(87, 87, 87, 0.027);
    outline: none;
    font-size: 1.2rem;
    width: 100%;
    padding: 1.8rem;
    margin: 1rem 0;
    color: var(--text-color)
}

.forget-password {
    align-self: flex-start;
    cursor: pointer;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

.forget-password:hover {
    color: var(--default-blue);
    text-decoration: underline var(--default-blue);
}

.btn {
    cursor: pointer;
    background-color: #ffbb00d3;
    color: var(--default-blue);
    font-weight: bolder;
    width: 100%;
    margin: 3rem 0;
    padding: 1.2rem;
    border-radius: 5px;
    font-size: 1.6rem;
    align-self: center;
    border: none;
    outline: none;
}

.btn:hover {
    background-color: rgb(160, 61, 15);
    color: white;
    transition: 0.7s;
}

.p-sign-in {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;

}


.footer {
    background-color: rgba(0, 0, 0, 0.534);
    border-top: #ffffff 1px solid;
    box-shadow: rgb(10, 7, 3) 1px 2px 55px;
    position: fixed;
    bottom: 0%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3rem;
    padding: 0.4rem 0rem 0rem 0rem;
}

.p-footer {
    font-size: 1.5rem;
    color: white;
}

footer a {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(212, 212, 212);
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

footer .a-1:hover {
    text-decoration: none;
    color: rgb(214, 180, 241);
    font-family: Arial, Helvetica, sans-serif;
}

footer .a-2:hover {
    text-decoration: none;
    color: rgb(168, 193, 230);
    font-family: Arial, Helvetica, sans-serif;
}

footer .a-3:hover {
    text-decoration: none;
    color: rgb(180, 226, 199);
    font-family: Arial, Helvetica, sans-serif;
}

footer .a-4:hover {
    text-decoration: none;
    color: rgb(255, 245, 189);
    font-family: Arial, Helvetica, sans-serif;
}

footer .a-5:hover {
    text-decoration: none;
    color: rgb(226, 180, 207);
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: var(--default-blue);
    text-decoration: underline grey;
}

.or {
    font-size: 1.6rem;
    color: #000000;
    margin: 2rem 0;
}

#gmail-btn {
    width: 100%;
    cursor: pointer;
    color: var(--default-blue);
    background-color: #ffbb00d3;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 0 0 2rem 0;
    padding: 1.5rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gmail-btn:hover {
    background-color: rgb(160, 61, 15);
    transition: 0.7s;
    color: white;
}

.logo-google {
    width: 20px;
    padding: 0px 3px 0px 0px;
    margin-right: 1rem;
}

.sign-google {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--dark-purple);
    font-size: 1.2rem;
}


.container-file-img {
    width: 10rem;
    height: 10rem;
    align-self: center;
    margin: 2rem 0;
}

.file-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.file-img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.file-input {
    display: none;
}

.back-to-login {
    position: absolute;
    font-size: 15px;
    padding: 5px;
    margin: 0px 590px 530px 0px;
    cursor: pointer;
    float: left;
    width: 8%;
    height: 6%;
    font-weight: bold;
    color: #ffffff;
    background-color: transparent;
    border: none;
}

.back-to-login:hover {
    border: none;
    background-color: #eb9d0d;
    color: #ffffff;
    transition: 1s;
    border-radius: 5px;
}

.home-navbar {
    display: none
}


.h1 {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    margin-bottom: 1.6rem;
}

#form-container-forgot-password {
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
}

#form-create-profile {
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60vh;
}

#back-to-login-fp {
    position: absolute;
    font-size: 1.5rem;
    padding: 5px;
    margin: 0rem 50vw 35rem 0rem;
    cursor: pointer;
    float: left;
    width: 8%;
    height: 6%;
    font-weight: bold;
}



.fieldset-forgot-password,
.fieldset-create-profile {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 60%;
}



.content {
    position: absolute;
    margin: 0px 0px 100px 0px
}

.h1-fp {
    color: white;
    font-size: 3rem;
}

.check {
    height: 17rem;
}

.container-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 150vh;
}



#back {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;

}

#back:hover {
    color: rgb(116, 43, 116);
    text-decoration: underline rgb(116, 43, 116);
}

#none {
    display: none;
}



/* home area */
.review-area {
    display: none;
    justify-content: center;
    text-align: center;
    background: linear-gradient(600.92deg, #5E97AF 6.15%, #6D9ACE 52.44%, #5694DC 77.96%, #4C64A4 95.61%);
    flex-direction: column;
    color: white;
    padding: 0rem 5rem 2rem;
    margin: 0rem 0rem;
}

.review-input {
    border: none;
    border-radius: 10px;
    padding: 1rem;
    outline: none;
    font-size: 13px;
}

.review-label {
    font-size: 1.8rem;
    padding: 0.6rem;
    color: #ffffff;
    text-align: left;
}

.post-input {
    margin: 2rem 0rem;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.7rem;
    outline: none;
    border: none;
}

.review-rating {
    font-size: 1.9rem;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0rem 0rem;
    border-top: 1px solid #ffffff;
    font-weight: bold;
}

#input-username {
    align-self: center;
}

#hashtags{
    margin-bottom:2rem;
}

.stars-edit input[type=radio] {
    display: none;
}

.stars-edit label.stars {
    cursor: pointer;
    font-size: 3rem;
    color: #e7e7e7;
}

.stars-edit label.stars:before {
    content: '★';
    color: #FC0;
}

.estrelas label.stars:before {
    content: '★';
    color: #FC0;
}

.stars-edit input[type=radio]:checked~label.stars:before {
    color: #e6f5ff;
}


.stars-edit {
    border-bottom: 1px solid #fafafa;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.estrelas input[type=radio] {
    display: none;
}

.estrelas label.stars {
    cursor: pointer;
    font-size: 5rem;
    color: #e7e7e7;
}



.estrelas input[type=radio]:checked~label.stars:before {
    color: #e6f5ff;
}

.estrelas {
    border-bottom: 1px solid #fafafa;
}

.buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
}

.button-review {
    background-color: #253a68;
    padding: 1rem 2rem;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 1.9rem;
    margin: 2rem 0 1rem 0;
    color: white;
}

.button-review:hover {
    filter: invert(77%) sepia(58%) saturate(1717%) hue-rotate(203deg) brightness(100%) contrast(88%);
    transition: 1s
}

#send-profile {
    align-self: center;

}

/* Sidebar component */
.sidebar-desktop {
    width: 20vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background: linear-gradient(359.92deg, #5E97AF 6.15%, #6D9ACE 52.44%, #5694DC 77.96%, #4C64A4 95.61%);
    color: white;
    display: flex;
    justify-content: center;

}

.sidebar-container {
    z-index: 2;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;

}

.close-mobile-sidebar {
    position: absolute;
    top: 2rem;
    right: 3rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: transparent;
    border: solid 1px white;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    display: none;

}

.close-mobile-sidebar:hover {
    cursor: pointer;
    background-color: #47b4a598;
    transition: .3s ease-in;

}

.user-data {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.sidebar-text {
    color: white;
    font-size: 1.5rem;
}

.user-name {
    font-size: 1.8rem;
}

.sidebar-user-img {
    width: 11rem;
    height: 11rem;
    border-radius: 100%;
    object-fit: cover;
    border: double 0.3rem transparent;
    background-image: linear-gradient(white, white),
        linear-gradient(360deg, #5567b9 0%, #289acf 53.12%, #3adaf0 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    align-self: center;
}



.user-information {
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.sidebar-user-name {
    align-self: flex-start;
    margin-bottom: 0.5rem;
}

.sidebar-user {
    margin-bottom: 2.5rem;
    color: rgb(200, 231, 255);
}

.sidebar-profile {
    width: 100%;
    padding: 1rem 0;
    border-top: solid 1px white;
    display: flex;
    flex-direction: column;

}

.profile-line {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100;
    align-items: center;
    text-align: center;
    margin: 1.5rem 0rem 0.5rem;
    padding: 0rem 0rem 0rem 0rem;
    border-top: 1px white solid;
}


.sidebar-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 0rem 1.5rem;
}

#edit-profile-link {
    color: rgb(200, 231, 255);
    font-size: 1.4rem;
    text-align: center;
    margin: 0.5rem 0rem 0rem 0rem;
}

#edit-profile-link:hover {
    color: var(--default-blue);
    text-decoration: none;
    transition: 0.7s
}

.num {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.num-text {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--default-blue);
}


.sidebar-tools {
    width: 100%;
    padding: 1.5rem 0;
    border-top: solid 1px white;
    display: flex;
    align-self: center;
    justify-content: left;

}

.sidebar-div-links {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}


.sidebar-div-links img {
    margin-right: 10px
}

#sidebar-review:hover {
    text-decoration: none;
    transition: 0.7s
}

.save-sidebar {
    width: 2.3rem;
}

#logout-btn-sidebar {
    background-color: transparent;
    border: none;


}




.sidebar-btn {
    border: none;
    background: transparent;
    color: white;
    cursor: pointer
}





.sidebar-logout {
    font-size: 1.5rem;
    border-bottom: none;
}

.sidebar-btn:hover {
    filter: invert(77%) sepia(58%) saturate(1717%) hue-rotate(203deg) brightness(100%) contrast(88%);
    transition: 0.3s
}

#sidebar-img-logout {
    width: 3rem;
}


.home-content {
    background-color: #f0f0f0;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    width: 80vw;
    min-height: 100vh;
}

.home-container {

    align-items: unset;
    justify-content: unset;
    width: 60%;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
   justify-content: space-between;
    padding: 0.5rem;
    background-color: #ffffff;
    z-index: 1;
}

.logo-title{
    display:flex;
    align-items: center;
    width:50%;

}

.search-container{
    display:flex;
    flex-wrap:nowrap;
    align-items: center;
}

#input-search{
    width:12rem;
    height:3rem;
    border:solid 1px rgb(199, 192, 192);
    padding:0 1rem;
    border-radius: 15px;
    color:grey;
    font-family: 'Roboto';
}

#input-search:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

#search{
    border:none;
    background-color:transparent;
}

#search img{
    width:1.8rem;
    margin-left:0.5rem;
}

.header-home {
    font-size: 2.2rem;
    color: black;
    font-weight: bold;
    padding: 0.5rem 
}

.timeline {
    margin: 0rem 0rem;
}

.favicon-home {
    width: 4.5rem;
    /* margin-right: 2rem; */
}



.photo-profile-feed {
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    object-fit: cover;
    align-self: center;
    border: 2px solid rgb(89, 136, 189);
}



.make-review {
    padding: 1.5rem;
    background: linear-gradient(600.92deg, #5E97AF 6.15%, #6D9ACE 52.44%, #5694DC 77.96%, #4C64A4 95.61%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.p-make-review,
.title-saved {
    font-size: 2rem;
    color: white;
}

.button-make-review {
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    width: 4rem;
    border: 2px solid white;
    font-size: 3rem;
    color: white;
    margin: 0px 0rem 0px 2rem;
}

.button-make-review:hover {
    filter: invert(77%) sepia(58%) saturate(1717%) hue-rotate(203deg) brightness(100%) contrast(88%);
    transition: 1s;
}

.h1-review {
    font-size: 2rem;
}

.posts-reviews {
    margin: 2rem 0;
    padding: 2rem 1rem;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px #888888;
}

.data-post {
    display: flex;
    flex-direction: column;
    margin: 0px 3rem;
}

.main-information-post {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.information-post-wrapper {
    display: flex;
    flex-direction: column;
}

.user-post {
    display: flex;
    width: 100%;
    align-items: center;
}

.user-wrapper {
    display: flex;
    flex-direction: column;

}

.user-information-post {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

}

.book-information {
    display: flex;
    flex-direction: column;
}

.title-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

.title-book {
    margin-right: 1rem;
    font-size: 2rem;
    color: black;
    font-weight: bold;

}

.book-image {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 2rem;
}

.photo-post-review {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    align-self: center;
    border: 2px solid rgb(89, 136, 189);
    border-radius: 50%;

}

.name-profile-post {

    font-size: 2rem;
    color: black;
    margin: 0 0 1rem 1rem;
}

.username-post {
    font-size: 1.6rem;
    color: grey;
    margin: 0 0 1rem 1rem;
}

.date {
    display: flex;

}

.date-post {
    font-size: 1.5rem;
    color: grey;
    margin: 0 0 1rem 1rem;
}


.stars-show {
    color: #FC0;
    font-size: 2.3rem;
    margin-right: 1rem;
}

.name-author {
    margin: 1rem 0rem 1.5rem 0;
    font-size: 1.6rem;
    color: #202020;
    width: 50%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.photo-book-review-post {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid rgb(223, 216, 216);
}

.content-review {
    color: black;

    text-align: justify;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 1.5rem;
    font-weight: lighter;
}

.review-label1 {
    align-items: center;
    font-size: 2rem;
    padding: 1.7rem 0rem 0rem;
    color: #ffffff;
}

.file-img1 {
    width: 142%;
    height: 155%;
    object-fit: cover;
    cursor: pointer;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.file-img1:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.container-file-img1 {
    width: 10rem;
    height: 10rem;
    align-self: center;
    margin: 1rem 0rem 5.5rem;
}

.aboutbook {
    display: flex;
    flex-direction: column;
    position: absolute;
}



.likes-container {
    width: 100%;
    border-top: solid 1px rgb(202, 196, 196);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;

}

.like {
    background-color: transparent;
    text-decoration: none;
    font-size: 2rem;
    transition: all 0.3s;
    margin-right: 0.5rem;
    border: none;
    display: flex;
    align-items: center;
}

.like img {
    width: 2.2rem;
}

.like:hover {
    cursor: pointer;
}



@keyframes animateHeart {
    0% {
        transform: scale(.2);
    }

    40% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}


.active {
    content: url("img/taca.png");
    animation: animateHeart 1s;

}

.num-likes,
.num-saves {
    font-size: 1.8rem;
    color: grey;
    margin-right: 3rem;

}

.comment-btn {
    text-decoration: none;
    transition: all 0.3s;
    background-color: white;
    margin-top: 0.5rem;
    border: none;



}

.comments-container {
    margin: 0;
}

.comment {
    height: 2.2rem;
}

.comment:hover {
    cursor: pointer;
}

.add-comment-container {
    width: 100%;
    display: flex;
    flex-direction: column;


    margin: 2rem 0rem;
    height: auto;




}

.input-comment {
    font-size: 1.3rem;
    width: 100%;
    padding-top: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    color: black;
    overflow: hidden;
    resize: none;
    text-align: justify;



}

.send-comment {
    color: var(--default-blue);
    background-color: transparent;
    border: none;
    font-size: 1.3rem;

    padding: 1rem 1rem 0 0;
    justify-self: flex-end;
}

.send-comment:hover {
    cursor: pointer;
}

.comment-post {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 1rem 0rem;


}


.comment-image-div {
    width: 5.5rem;
}

.comment-user-image {
    width: 5rem;
    height: 5rem;
    align-self: center;
    margin-right: 0.5rem;
    object-fit: cover;
    border: 2px solid rgb(89, 136, 189);
    border-radius: 50%;


}

.comment-headline {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.comment-text {
    width: 100%;
    text-align: justify;
    border-radius: 10px;
    background-color: rgb(231, 239, 252);
    padding: 1.5rem;
    overflow-y: auto;

}

.comment-username {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: black;
    font-weight: bold;
}

.comment-date-container {
    display: flex;
    flex-wrap: nowrap;

}


.comment-date {
    font-size: 1.3rem;
    color: #333333;
    margin-right: 0.5rem
}

.comment-content {
    font-size: 1.5rem;
    color: black;
    font-weight: lighter;
    margin-top: 0.5rem;
    word-wrap: break-word;

}

.comment-text-form {
    align-items: center;
}

.options-edition-comment {
    display: none;
    width: 92.5%;
    justify-content: flex-start;
    align-items: center;
}

.delete-post-comment {
    display: inline-block;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--default-blue);
    font-size: 1.2rem;
    margin: 1.5rem 0rem 0rem 0rem;
    padding: 0rem;
}



.optionsedition {
    width: 92.5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;


}

.container-edit-btns {
    display: flex;
    justify-content: flex-end;
}

#edit-post {
    display: inline-block;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--default-blue);
    font-size: 1.5rem;
    padding: 0rem;
    margin: 0rem 1.5rem 0rem 0rem;
}

#delete-post {
    display: inline-block;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--default-blue);
    font-size: 1.5rem;
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem;
}

.confirm-delete,
.confirm-delete-comment {
    width: 100%;
    height: 100%;
    /* padding: 250px 0px; */
    background: #2e1c5762;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 3;
    display: none
}

.h1-confirm-delete,
.h1-confirm-delete-comment {
    color: #ffffff;
    font-size: 1.5rem;
    padding: 1rem 0rem;
    align-items: center;
    text-align: center;
}

.confirm-modal,
.confirm-modal-comment {
    width: 25rem;
    height: 15rem;
    background: linear-gradient(600.92deg, #5e74af 50.15%, #6da7ce 100.44%);
    border-radius: 20px;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.confirm-buttons,
.confirm-buttons-comment {
    align-items: center;
    text-align: center;
    background-color: #d5e2ff;
    padding: 0.5rem 1rem;
    width: 11rem;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: var(--dark-purple);
    font-size: 1.3rem;
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
}

.confirm-buttons:hover,
.confirm-buttons-comment:hover {
    filter: invert(77%) sepia(58%) saturate(1717%) hue-rotate(203deg) brightness(100%) contrast(88%);
    transition: 1s
}

.icon-save {
    width: 2rem;
    height: 2rem;
    cursor: pointer;

}

.save {
    margin: 0.3rem 0.8rem 0rem 3rem;
}

.saved {
    animation: animateHeart 1s;
    filter: brightness(100%) contrast(0%);
}

.saved-items {
    width: 100%;
    padding: 1.5rem;
    background: linear-gradient(600.92deg, #5E97AF 6.15%, #6D9ACE 52.44%, #5694DC 77.96%, #4C64A4 95.61%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

.img-title-saved {
    width: 2rem;
    margin-right: 1rem;

}

.profile-content {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;

}

.profile-container {
    width: 50%;
}

.photo-profile-div {
    width: 100%;
    height: 17rem;
    padding-top: 10rem;
    margin-top: -2rem;
    /* background:linear-gradient(180deg, #415792 0%, #4c65ac 25%, #5d9cb9 70%, #60aaca 90%);  */
    background-image: url(img/book.jpg);
    /* background-image: url(img/books.jpg);  */
    background-size: cover;
    background-position: right;

    text-align: center;
    justify-content: center;
    border-radius: 10px;
}

.head-profile {
    text-align: center;
}

.photo-profile {
    width: 13rem;
    height: 13rem;
    object-fit: cover;
    align-self: center;
    border: double 0.3rem transparent;
    border-radius: 50%;
    background-image: linear-gradient(white, white),
        linear-gradient(360deg, #5567b9 0%, #289acf 53.12%, #3adaf0 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;

}

.user-name-profile {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 7rem;
    margin-bottom: 2rem;

}

.btn-home-profile {

    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-right: 2rem;
}

.icon-home {
    width: 2.5rem;
}

.btn-home-profile:hover {
    filter: brightness(130%);
    transition: 1s;
}

.home-profile-text {
    color: #3A81C2;


}

.menu-img-sidebar {
    cursor: pointer;
    filter: brightness(450%);
    width: 3rem;
    height: 3rem;
    margin: 0rem 0.5rem 0rem 0rem;
}

/* modal de edit*/
.confirm-edit {
    width: 100vw;
    height: 100vh;
    padding: 5rem;
    background: #2e1c5762;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 3;
    display: none
}

.h1-confirm-edit {
    color: #ffffff;
    font-size: 2rem;
    padding: 1rem 0rem;
    align-items: center;
    text-align: center;
}

.confirm-modal-edit {
    width: 60vw;
    padding: 0.5rem 2rem 0rem 2rem;
    position: fixed;
    top: 5%;
    left: 20%;
    z-index: 3;
    background: linear-gradient(600.92deg, #5e74af 50.15%, #6da7ce 100.44%);
    border-radius: 20px;
    display: grid;
    justify-content: center;
}

.content-text {
    display: grid;
    justify-content: center;
    position: relative;
    min-width: 100px;
}

@keyframes confirm-modal-edit {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.review-input-edit {
    border-radius: 10px;
    padding: 0.5rem 1rem 0rem;
    font-size: 1.5rem;
    outline: none;
    height: 3rem;
}


.post-input-edit {
    outline: none;
    margin: 2rem 0rem;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
}

.align-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    align-items: center;
}



.confirm-buttons-edit {
    align-items: center;
    text-align: center;
    background-color: #d5e2ff;
    padding: 0.5rem 1rem;
    width: 11rem;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: var(--dark-purple);
    font-size: 1.3rem;
    margin: 0.5rem 4.5rem;
    display: flex;
    justify-content: center;
}

.confirm-buttons-edit:hover {
    filter: invert(77%) sepia(58%) saturate(1717%) hue-rotate(203deg) brightness(100%) contrast(88%);
    transition: 1s
}

ol,
ul {
    list-style: none;
}

.warning-msg {
    font-size: 14px;
    color: orange;
    padding: 0.3rem;
    display: flex;
    justify-content: space-around;
}

.error-stars-msg {
    display: flex;
    justify-content: space-around;

}


.load {
    animation: fadeOut 2.5s;
    animation-fill-mode: forwards;
    transition: 1s;
    width: 100vw;
    height: 100vh;
    background: #00000069;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 3;
    transform: scale(1);
}

.gif-load {
    border: 0.2rem solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 35%;
    left: 44%;
}

.load1 {
    animation: fadeOut infinite;
    transition: 1s;
    width: 100vw;
    height: 100vh;
    background: #00000069;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 3;
    transform: scale(1);
    display: none;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.dark-container{
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-right:0.5rem;

}

.span-mood {
    margin-left: 6rem; 
    /* margin: 0rem 0rem 0rem 12vw; */
    margin-right: 1rem; 
    font-size: 1.2rem;
}

.noturn-mood {
    background-color: #313c44;
    position: absolute;
    /* margin: 0rem 0rem 0rem 35vw; */
    /* margin-left: 82%; */
    width: 5rem;
    border-radius: 20rem;
    height: 2rem;
}

.dark-mode,
.dark-mode1 {
    cursor: pointer;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    background-color: white;
    margin: 0.2rem 0rem 0rem 0.5rem;
    transition: 1s;
    position: absolute;
}

.light-mode,
.light-mode1 {
    cursor: pointer;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    background-color: #313c44;
    margin: 0.2rem 0rem 0rem 3rem;
    position: absolute;
    transition: 1s;
}

.dark-container-profile{
    padding-left:25rem;
    display:flex;
    align-items: center;

}

.search-result{
    display:flex;
    align-items: center;
}

.quit{
    margin:1rem 0 
 
}

.quit-img{
    width:2.5rem;
    margin-right:1.5rem;
    cursor:pointer;
}


.result-text{
    font-size:1.6rem;
    color:black;
}

.hashs{
    font-size: 1.5rem;
    font-style: italic;
    color:black;
}